/* app global css */
:root {
    --color-0: #000;
    --color-1: #111;
    --color-2: #222;
    --color-3: #333;
    --color-4: #444;
    --color-5: #555;
    --color-6: #666;
    --color-7: #777;
    --color-8: #888;
    --color-9: #999;
    --color-10: #AAA;
    --color-11: #BBB;
    --color-12: #CCC;
    --color-13: #DDD;
    --color-14: #EEE;
    --color-15: #FFF;
    --color-text: #FFF;
    --color-text-brand: #FFF;
}

* {
    color: var(--color-text);
}

body.body--dark{
    background: var(--color-1);
    user-select:none;
}

.border-in{
    border:1px solid var(--color-1);
}

.border-out{
    border:1px solid var(--color-3);
}

.wrap {
    white-space:normal;
    word-wrap:break-word;
    word-break:break-all;
}

a {
    color: inherit;
    text-decoration: none;
}

.scrollable {
    overflow-y: hidden;
    scrollbar-gutter: stable;
}

.scrollable:hover {
    overflow-y: scroll;
}

.select-no-option {
    font-size: 12px;
    color: var(--color-9);
}

.btn-active {
    background: var(--q-primary);
}

.btn-active * {
    color: var(--color-text-brand);
}

.btn-primary {
    background: var(--q-primary);
    height: auto!important;
}

.btn-primary * {
    color: var(--color-text-brand);
}

.q-loading .q-loading__box{
    background: var(--color-1)!important;
    color: var(--color-text)!important;
}

.selectable{
    user-select: text;
}

.update-btn{
    padding: 0 30px!important;
}
