.col-1{
    width: 4.166666667%!important;
}
.col-2{
    width: 8.333333333%!important;
}
.col-3{
    width: 12.5%!important;
}
.col-4{
    width: 16.66666667%!important;
}
.col-5{
    width: 20.833333333%!important;
}
.col-6{
    width: 25%!important;
}
.col-7{
    width: 29.166666667%!important;
}
.col-8{
    width: 33.33333333%!important;
}
.col-9{
    width: 37.5%!important;
}
.col-10{
    width: 41.66666667%!important;
}
.col-11{
    width: 45.833333333%!important;
}
.col-12{
    width: 50%!important;
}
.col-13{
    width: 54.166666667%!important;
}
.col-14{
    width: 58.33333333%!important;
}
.col-15{
    width: 62.5%!important;
}
.col-16{
    width: 66.66666667%!important;
}
.col-17{
    width: 70.833333333%!important;
}
.col-18{
    width: 75%!important;
}
.col-19{
    width: 79.166666667%!important;
}
.col-20{
    width: 83.33333333%!important;
}
.col-21{
    width: 87.5%!important;
}
.col-22{
    width: 91.66666667%!important;
}
.col-23{
    width: 95.833333333%!important;
}
.col-24{
    width: 100%!important;
}