
/* 平台栏 */
.platform-wrapper {
    box-shadow: inset -5px 0 10px var(--color-1);
    height: calc(100vh - 64px) !important;
    background: var(--color-2);
}

.platform-item {
    border-bottom: 1px solid var(--color-0);
    border-top: 1px solid var(--color-4);
    text-align: center;
    min-height: 60px;
}

.platform-item:first-child {
    border-top: 0;
}

.platform-item:last-child {
    border-bottom: 0;
}

.platform-item .q-img {
    width: 32px;
    height: 32px;
    margin: 0 auto 5px auto
}

.platform-active {
    box-shadow: inset 0 0 10px var(--color-1);
}

